*{
    margin: 0;
    padding: 0;
}
.bg{
    background: url(photo-1505740420928-5e560c06d30e.avif);
    width:100%;
    height: 100%;
    position: relative;
    background-size:cover;


}
.text{
   padding-top: 100px;
    text-align: left;
    padding: 30px;
}